html {
	min-height: 100vh;
    background-image: url('./images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
body {
	background-color: transparent;
	color: white;
	text-align: center;
}
body h1 {
    margin-top: 30vh;
    font-size: 80px;
    text-shadow: 0px 0px 15px #000000;
}
body h2 {
    text-shadow: 0px 0px 15px #000000;
}
body #close {
  color: white;
  text-decoration: none;
}
body #close:hover {
  text-decoration: underline;
}
.row.panels {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
}
.panels .col-md-3 {
    background-color: #272e38;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    transition-duration: 1s;
}
.panels h4 {
    margin-top: 40px;
    font-weight: normal;
}
.panels .col-md-3 img {
    width: 50px;
    margin-top: 75px;
}
.panels .col-md-3:hover {
    transform: translate3d(0px, -75px, 0px);
    border-bottom: 10px solid rgb(56, 64, 76);
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    cursor: pointer;
}

.row.panels, .panels .col-md-3, body #close {
    -webkit-app-region: no-drag;
}